@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-soft: #f9f9f9;
}
.content {
  background-color: var(--primary-soft);
}
