@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-soft: #f9f9f9;
}

.content {
  background-color: var(--primary-soft);
  overflow: scroll;
}
.header {
  position: sticky;
  top: 0.2rem;
  z-index: 2000;
}
.sidebar{

}

.sidebar.open {
  position: fixed;
  width: 300px;
  z-index: 2001;
  display: block !important;
  background-color: aqua;
}
.show-siderbar-btn {
  cursor: pointer;
}
